/* Toggle button - styles for the switch variant */
.switch-button {
  display: inline-block;
}

.switch-track {
  width: 44px;
  height: 24px;
  background-color: var(--color-toggle-button-active);
  border: none;
  border-radius: 12px; /* Half of height */
  padding: 2px;
  cursor: pointer;
  overflow: hidden;

  position: relative;

  transition: background-color 250ms ease-in-out;
}

.switch-track.active {
  background-color: var(--color-toggle-switch-active);
}

.switch-thumb {
  width: 20px;
  height: 20px;
  background-color: var(--color-white);
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  position: absolute;
  left: 2px;
  top: 2px;
  z-index: 2;
  transition: transform 250ms ease-in-out;
}

.switch-track.active .switch-thumb {
  transform: translateX(20px); /* Width of track minus width of thumb */
}

.switch-labels {
  font-size: 8px;
  font-weight: 500;
  padding: 0 8px;

  position: absolute;
  inset: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch-label {
  opacity: 0.8;

  transition: opacity 250ms ease-in-out;
}

.switch-label.on {
  color: var(--color-white);
}

.switch-label.off {
  color: var(--color-text-primary);
}

.switch-label.active {
  opacity: 1;
}

/* Toggle button - styles for the default variant */
.toggle-button {
  font-weight: 500;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  overflow: hidden;

  display: inline-flex;
}

.toggle-option {
  background-color: var(--color-white);
  padding: var(--space-sm) var(--space-md);
  cursor: pointer;
  border: none;

  transition: background-color 250ms ease-in-out;
}

.toggle-option.active {
  background: var(--color-toggle-button-active);
  color: var(--color-text-primary);
}

/* Mobile styles */
@media (max-width: 480px) {
  .switch-track {
    width: 42px;
    height: 22px;
  }

  .switch-thumb {
    width: 18px;
    height: 18px;
  }

  .switch-track.active .switch-thumb {
    transform: translateX(18px);
  }
}
