.description-form {
  max-width: 600px;
  margin-inline: auto;
}

#category-select-input {
  color: var(--color-text-secondary);
  font-size: 0.875rem;
}

.upload-button {
  background-color: transparent;
  color: var(--color-primary);
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  border: 1px solid var(--color-primary);
  padding: var(--space-sm) var(--space-md);
  border-radius: 8px;

  display: inline-flex;
  align-items: center;
  gap: var(--space-sm);

  transition: 300ms ease-in-out;
  transition-property: background-color, color;
}

.upload-button:where(:hover, :focus-visible) {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.form-group:has(.upload-button) {
  margin-bottom: 0;
}
